{{! template-lint-disable no-curly-component-invocation}}
<div class="slider-path">
    <div class="slider-pseudo-path">
        <div class="slider-color-filler"></div>
    </div>
    <SliderHandle @value={{this.value}} @onStart={{fn this.actions.handleMoveStart this}} />
</div>
<div class="slider-pseudo-path-closed">
    <div class="filler-guide">
        <div class="slider-color-filler-closed"></div>
    </div>
</div>
<div class="likert-points">
    {{! template-lint-disable no-inline-styles style-concatenation quotes}}
    {{#each this.likertPoints as |point|}}
        <div 
          class="likert-point {{if (lte point.left this._percentage) 'active'}}"
          style="left: {{point.left}}%;"
        >
            {{! template-lint-disable no-curly-component-invocation}}
            <div class="likert-label" style="min-width: {{mult this.likertDistance 3}}px;">{{point.label}}</div>
        </div>
    {{/each}}
</div>