<h2 id="title">Ember slider demo</h2>
This page provides an overview of the basic slider options available.
<div class="demo basic-slider">
    <h3>Basic 0 to 100 slider</h3>
    <div class="code">
        <h5>Code</h5>
        <CodeSnippet @name="basic-slider-options.js" />
        <CodeSnippet @name="basic-slider-options-template.hbs" />
    </div>
    <div class="preview">
        <h5>Preview</h5>
        <p>This is a basic slider setup. Try clicking on the below buttons to toggle value display and change the look of the slider</p>
        <div class="slider-container">
            <EmberSlider @config={{this.options}} />
        </div>
        <div 
          class="demo-button"
          {{on "mousedown" (fn this.actions.addActiveClass)}}
          {{on "mouseup" (fn this.actions.removeActiveClass)}}
          {{on "click" (fn this.actions.toggleValueDisplay this.options)}}
          role="button"
        >
            Toggle value display
        </div>
        <div 
          class="demo-button"
          {{on "mousedown" (fn this.actions.addActiveClass)}}
          {{on "mouseup" (fn this.actions.removeActiveClass)}}
          {{on "click" (fn this.actions.toggleSliderType this.options)}}
          role="button"
        >
            Toggle slider type
        </div>
    </div>
</div>
<div class="demo likert-slider">
    <h3>5 point likert slider</h3>
    <div class="code">
        <h5>Code</h5>
        <CodeSnippet @name="likert-slider-options.js" />
        <CodeSnippet @name="basic-slider-options-template.hbs" />
    </div>
    <div class="preview">
        <h5>Preview</h5>
        <p>This is a 5 point scale likert slider setup. Try clicking on the below buttons to toggle value display and change the look of the slider</p>
        <div class="slider-container">
            <EmberSlider @config={{this.likertOptions}} />
        </div>
        <div 
          class="demo-button"
          {{on "mousedown" (fn this.actions.addActiveClass)}}
          {{on "mouseup" (fn this.actions.removeActiveClass)}}
          {{on "click" (fn this.actions.toggleValueDisplay this.likertOptions)}}
          role="button"
        >
            Toggle value display
        </div>
        <div 
          class="demo-button"
          {{on "mousedown" (fn this.actions.addActiveClass)}}
          {{on "mouseup" (fn this.actions.removeActiveClass)}}
          {{on "click" (fn this.actions.toggleSliderType this.likertOptions)}}
          role="button"
        >
            Toggle slider type
        </div>
    </div>
</div>
{{outlet}}
